.footer__container {
  display: flex;
  gap: 20px;
  justify-content: end;
  align-items: center;
  padding: 40px 0;
  opacity: 0.8;
}

.footer__link {
  text-decoration: none;
}

.link__container {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.06);
}


